---
layout: no-sidebar 
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div class="content">
      {% capture md_content %}{% include teaching-content.md %}{% endcapture %}
      {{ md_content | markdownify }}
    </div>

    {% include scripts.html %}

  </body>
</html>